<a href="https://colab.research.google.com/github/akif-demir/PythonExercises/blob/main/MagnimindAssignments.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#String Assignments

**1.Ask the user to enter their first name and surname in lower case. 
Change the case to title case and join them together. 
Display the finished result.**

---

In [ ]:
name = input("Please Enter Your First Name in Lower Case: ")
surname = input("Please Enter Your Surname in Lower Case: ")
result = name + " " + surname
print(result.title())

Please Enter Your First Name in Lower Case: akif
Please Enter Your Surname in Lower Case: demir
Akif Demir

**2.Ask the user to type in the first line of a poem Raven by Edgar Allen Poe and display the length of the string. Ask for a starting number and an ending number and then display just that section of the text (remember Python starts counting from 0 and not 1). Here is the poem Raven:**

Deep into that darkness peering, 

Long I stood there, wondering, fearing,

Doubting, dreaming dreams no mortals

Ever dared to dream before;

But the silence was unbroken,

And the stillness gave no token,

And the only word there spoken

Was the whispered word, "Lenore!"

This I whispered, and an echo

Murmured back the word, "Lenore!"

Merely this, and nothing more. 

---

In [ ]:
first_line = input("Please Enter Your First Line of poem Raven by Edgar Allen Poe : ")
print("The length of the poem first line is: " + str(len(first_line)))
print("The starting character of the poem first line is: " + first_line[0])
print("The ending character of the poem first line is: " + first_line[-1])

Please Enter Your First Line of poem Raven by Edgar Allen Poe : Deep into that darkness peering,
The length of the poem first line is: 32
The starting character of the poem first line is: D
The ending character of the poem first line is: ,

**3.Removes extra characters from the start and end of a string and explain why you need to remove white spaces while exploring text.**

The reason why we remove it is because Python process these white space and if we have no idea about white spaces, there cannot properly process the text.

In [ ]:
my_string = "  We should always removes extra characters from the start and end of string.   "
print("My uncleaned string is :" + my_string)
print("My uncleaned string length is :" + str(len(my_string)))
my_new_string = my_string.strip()
print("My cleaned string length is :" + str(len(my_new_string)))

My uncleaned string is :  We should always removes extra characters from the start and end of string.
My uncleaned string length is :80
My cleaned string length is :75

#Data Types Assignments

**1.Suppose you invested in Bitcoin at the end of 2020 when Bitcoin gained a lot of value. What would be your money at the end of a week if you had invested $1000 with an average daily increase of 12% ? You can solve the problem using Python.**

**Help**

Create a variable capital ($1000)

Create a variable for daily growth (12%)

Create a variable for period (7)

Calculate the final growth rate

Calculate result

Print result

In [ ]:
capital = 1000
daily_growth = 1.12
period = 7
day1_capital = capital * daily_growth
print(day1_capital)
day2_capital = day1_capital * daily_growth
print(day2_capital)
day3_capital = day2_capital * daily_growth
print(day3_capital)
day4_capital = day3_capital * daily_growth
print(day4_capital)
day5_capital = day4_capital * daily_growth
print(day5_capital)
day6_capital = day5_capital * daily_growth
print(day6_capital)
end_of_weekly_capital = day6_capital * daily_growth
print("end_of_weekly_capital is: " + str(end_of_weekly_capital))

final_growth_rate =  end_of_weekly_capital / capital * 100
print(final_growth_rate)
print("final_growth_rate is :" + str(final_growth_rate))
check_capital_final_growth_rate = capital * final_growth_rate / 100
print("check_capital_final_growth_rate is : " + str(check_capital_final_growth_rate))

1120.0
1254.4
1404.9280000000003
1573.5193600000005
1762.3416832000007
1973.822685184001
end_of_weekly_capital is: 2210.6814074060812
221.06814074060816
final_growth_rate is :221.06814074060816
check_capital_final_growth_rate is : 2210.6814074060817

**2-Print the text in quotes with Python. However, you must get the numbers from variables using .format() notation. Because the text is long, you might consider writing in two lines:**

"When we buy bitcoin with 1000 USD at the beginning of the week, we would earn 1210.68 USD at the end of the week, with an average gain of 12\%."

In [ ]:
my_str = "When we buy bitcoin with 1000 USD at the beginning of the week, we would earn 1210.68 USD at the end of the week, with an average gain of 12%."
my_firstline_str = "When we buy bitcoin with 1000 USD at the beginning of the week,"
my_secondline_str = "we would earn 1210.68 USD at the end of the week, with an average gain of 12%."
print('{}{}{}'.format(my_firstline_str,"\n",my_secondline_str))

When we buy bitcoin with 1000 USD at the beginning of the week,
we would earn 1210.68 USD at the end of the week, with an average gain of 12%.

**3-Get the temperature in Fahrenheit from user and write a code to convert it to Celcius. For conversion, you can use this formula: C = (5/9) * (F - 32)**

Enter the temperature in Fahrenheit:

user --> 26

output --> Temperature (C) : -3.33

In [42]:
#cel_to_fah = (cel + 32) * (5/9)
fah = 26
fah_to_cel = (fah - 32) * (5/9)
print(fah_to_cel)

-3.3333333333333335

**4-Get a three digit number the from user and calculate the sum of the digits in the integer.**

user --> 365

output --> "The sum of digits in the number is 14

In [19]:
get_three = input("Please enter a 3 digit number: ")
result = int(get_three[0]) + int(get_three[1]) + int(get_three[2])
#print(int(get_three[0]))
#print(type(get_three))
print(result)

Please enter a 3 digit number: 365
14

**5-Write some code to calculate the hypotenuse of a right angled triangle. Get the side lengths from the user.**

user --> first side lenth : 6

user --> first side lenth : 8

output --> "The length of the hypotenuse is 10

In [37]:
first_side = int(input("Please enter first side length : "))
second_side = int(input("Please enter second side length : "))

print(type(first_side))
print(type(second_side))

two_sides = (first_side ** 2) + (second_side ** 2)
print(type(two_sides))

hypo = two_sides ** (1/2)
print(hypo)

Please enter first side length : 6
Please enter second side length : 8
<class 'int'>
<class 'int'>
<class 'int'>
10.0

#List Assignments

**1- Write a code to compute the sum of the two lowest numbers and the two highest numbers in the following list.**

my_list = [34, 56, 76, 45, 2, 12, 67, 98, 37, 54, 66]

In [53]:
my_list = [34, 56, 76, 45, 2, 12, 67, 98, 37, 54, 66]
my_list.sort()
print(my_list)
two_lowest = str(my_list[0:2])
two_highest = str(my_list[-2:])
print("The two lowest numbers are : " + two_lowest)
print("The two heighest numbers are : " + two_highest)

[2, 12, 34, 37, 45, 54, 56, 66, 67, 76, 98]
The two lowest numbers are : [2, 12]
The two heighest numbers are : [76, 98]

**2- The following two lists contain student names and scores. Write a code that gets the name from the user and prints the score of that student.**

names = ["David", "Michael", "John", "James", "Greg", "Mark", "William", "Richard", "Thomas", "Steven",

   "Mary", "Susan", "Maria", "Karen", "Lisa", "Linda", "Donna", "Patricia", "Debra", "Eric"]
scores = [99, 87, 78, 86, 68, 94, 76, 97, 56, 98, 76, 87, 79, 90, 73, 93, 82, 69, 97, 98]

In [65]:
names = ["David", "Michael", "John", "James", "Greg", "Mark", "William", "Richard", "Thomas", "Steven","Mary", "Susan", "Maria", "Karen", "Lisa", "Linda", "Donna", "Patricia", "Debra", "Eric"] 
scores = [99, 87, 78, 86, 68, 94, 76, 97, 56, 98, 76, 87, 79, 90, 73, 93, 82, 69, 97, 98]
find_score = names.index(input("What is your name: "))
score_result = find_score
print("Your score is : " + str(scores[score_result]))

What is your name: Thomas
Your score is : 56

**3- By using the two lists above, what is the maximum score and how many students got that score?**

In [83]:
scores2 = [99, 87, 78, 86, 68, 94, 76, 97, 56, 98, 76, 87, 79, 90, 73, 93, 82, 69, 97, 98]
scores2.sort(reverse = True)
get_heighest_score = str(scores2[0])
print(get_heighest_score)
howmany_heighest_score = get_heighest_score.count(get_heighest_score)
howmany_heighest_score

99

1

#Dictionary Assignments

**1- Create a dictionary with 7 days. Ask the user to choose 2 different days by listing the (e.g. "12" for Monday and Tuesday). Delete the user-selected days from the dictionary and print the remaining 5 days on the screen.**

In [11]:
days = {"Monday" : 1 , "Tuesday" : 2, "Wednsday" : 3, "Thursday" : 4, "Friday" : 5, "Saturday" : 6, "Sunday" : 7}
user_pick1 = input("Please write any one days: ")
user_pick2 = input("Please write any other days different than first: ")
days.pop(user_pick1)
days.pop(user_pick2)
print(days.keys())

Please write any one days: Monday
Please write any other days different than first: Friday
dict_keys(['Tuesday', 'Wednsday', 'Thursday', 'Saturday', 'Sunday'])

**2- Create a dictionary with the following personnel. Use names as keys.
(Michael (age: 20)
(Linda (age: 30)**

**
Hello @channel , there is something wrong in question 2 in dictionary assignment. Lets put it this way, just create a dictionary with names(michael and linda) and ages and then add some children’s name into the dictionary. Then pick michael from dictionary.**

In [12]:
personnel = {'Michael': {'age': 20}, 'Linda': {'age': 30}}
print(personnel.keys())
print(personnel.values())
print(personnel["Michael"])
print(personnel["Linda"])

dict_keys(['Michael', 'Linda'])
dict_values([{'age': 20}, {'age': 30}])
{'age': 20}
{'age': 30}

**3- Add child information to Michael and Linda. Michael has two children (Karen (age : 12, female) and Greg (age : 7, male) and Linda has one child (Susan (age: 6, female))**

In [13]:
personnelnew = {"Michael": {"age": 20, "gender" : "male"},"Karen": {"age" : 12, "gender" : "female"},"Greg": {"age": 7, "gender" : "male"},"Linda": {"age": 30, "gender" : "female"},"Susan": {"age": 6, "gender" : "female"}}

In [14]:
print(personnelnew.keys())
print(personnelnew.values())
print(personnelnew["Michael"])
print(personnelnew["Linda"])

dict_keys(['Michael', 'Karen', 'Greg', 'Linda', 'Susan'])
dict_values([{'age': 20, 'gender': 'male'}, {'age': 12, 'gender': 'female'}, {'age': 7, 'gender': 'male'}, {'age': 30, 'gender': 'female'}, {'age': 6, 'gender': 'female'}])
{'age': 20, 'gender': 'male'}
{'age': 30, 'gender': 'female'}

**4- Print the names of Michael's children in a list.**

In [15]:
print(personnelnew["Karen"])
print(personnelnew["Greg"])

{'age': 12, 'gender': 'female'}
{'age': 7, 'gender': 'male'}